<div id="row-container">
    <div class="inline">
        Imie Nazwisko
    </div>

    <div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div>

    <div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #f5c401;">warning</mat-icon>
        </button>
    </div>

    <div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div>

    <div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div>

    <div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div>
    <div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div><div class="inline">
        <button mat-icon-button>
            <mat-icon style="color: #61a00b;">brightness_1</mat-icon>
        </button>
    </div>

</div>