.employee-header-column {
    display: inline-block;
    border: 1px solid;
    border-color: rgba(174,176,179,0.52);
    font-size: 12px;
    text-align: center;
    height: 40px;
    width: 100%;
}

.employee-row {
    border: 1px solid;
    border-color: rgba(174,176,179,0.52);
    font-size: 12px;
    height: 50px;
    width: 100%;
}



.header-column {
    display: inline-block;
    border: 1px solid;
    border-color: rgba(174,176,179,0.52);
    font-size: 12px;
    text-align: center;
    height: 40px;
    width: 80px;
}

.row-inline {
    display: inline-block;
}

.row-inline:hover {
    background: whitesmoke;
}

.column {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid;
    border-color: rgba(174,176,179,0.52);
    font-size: 12px;
    height: 50px;
    width: 80px;
    vertical-align: top;
}