<mat-list>
    <a mat-button routerLink="/">
        <mat-list-item>
                <mat-icon mat-list-icon>inbox</mat-icon>
                <div mat-line>PRZEGLĄD</div>
        </mat-list-item>
    </a>

    <br>

    <a mat-button routerLink="/employees">
        <mat-list-item>
                <mat-icon mat-list-icon>people</mat-icon>
                <div mat-line>PRACOWNICY</div>
        </mat-list-item>
    </a>

    <br>

    <a mat-button routerLink="/work-status">
        <mat-list-item>
                <mat-icon mat-list-icon>event_available</mat-icon>
                <div mat-line>OBECNOŚCI</div>
        </mat-list-item>
    </a>
</mat-list>